<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./bootstrap.min.css">
    <title>Add New Product</title>
</head>
<body>
    <div class="container">
        <form class="p-3">
            <div class="form-group">
                <input type="text" name="name" id="name" class="form-control" placeholder="Product's Name" autofocus />
            </div>
            <div class="form-group">
                <input type="text" name="price" id="price" class="form-control" placeholder="Price" />
            </div>
            <div class="form-group">
                <input type="text" name="description" id="description" class="form-control" placeholder="Description" />
            </div>
            <button class="btn btn-primary btn-block">
                Save Product
            </button>
        </form>
    </div>
    <script>
        const { ipcRenderer } = require('electron');

        const form = document.querySelector('form');
        form.addEventListener('submit', (e) => {
            e.preventDefault()

            const nameProduct = document.querySelector('#name').value;
            const priceProduct = document.querySelector('#price').value;
            const descProduct = document.querySelector('#description').value;

            var data = {
                name: nameProduct,
                price: priceProduct,
                description: descProduct
            }
            
            ipcRenderer.send('productNew', data)
        });
    </script>
</body>
</html>